<div class="quiz-container">
  <div class="main-question">
    <p>{{ exercise.JSONContent.questionText }}</p>
    <img [src]="exercise.JSONContent.image_question" alt="image">
  </div>

  <div class="grid-container">
    <div class="grid-row" *ngFor="let row of grid; let rowIndex = index">
      <div class="grid-cell" *ngFor="let slot of row; let colIndex = index" [class.slotSelected]="slot.isSelected">
        <img [src]="slot.imagePath" alt="image"
           (click)="selectSlot(rowIndex, colIndex)" />
      </div>
    </div>
  </div>
    
  <!-- <p>Total wrong count: {{ wrongCount +50 }}</p> -->
  
</div>

<div class="direction-container">
  <div class="direction-buttons">
    <button (click)="onNext()">{{ isLastExercise ? 'Quiz\'i Bitir' : 'İleri' }}</button>
  </div>
</div>