<div>
  <h2>{{ exercise.JSONContent.keyword }}</h2>
  <p>{{ exercise.JSONContent.questionText }}</p>
  <p>Zorluk: {{ exercise.Difficulty }}</p>
  <p>Dil: {{ exercise.Language }}</p>

  <ul>
    <li *ngFor="let error of exercise.JSONContent.PossibleErrors">
      <label>{{ error.ErrorText }}</label>
      <button (click)="onAnswerChange(error, true)" [ngClass]="{ 'selected': error.selected === true }">Evet</button>
      <button (click)="onAnswerChange(error, false)" [ngClass]="{ 'selected': error.selected === false }">Hayır</button>
    </li>
  </ul>

  <button (click)="onBack()" [disabled]="exercise.ItemIndex==0">Geri</button>
  <button (click)="onNext()" [disabled]="isNextDisabled">{{ isLastExercise ? 'Quiz\'i Bitir' : 'İleri' }}</button>
</div>