.progress-container {
    background-color: #e5e5e5;
    height: 25px;
    width: 50%;
    margin: 40px auto;
    overflow: hidden;
    border-radius: 10px;
}

.progress {
    background-color: #58cc02;
    height: 100%;
}