.start-test {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;

    button {
        background-color: #a67cbf;
        color: #fff;
        border: 1px solid #a67cbf;
        box-shadow: 0 3px 5px #9257b5;
        transition: 0.5s;
        border-radius: 25px;
        text-align: center;
        text-decoration: none;
        padding: 10px 50px;
        font-size: 1rem !important;
        font-weight: 500;
        letter-spacing: 1px;
        cursor: pointer;
    }
}




.progress-bar-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    height: 30px;
    width: 60%;
    margin: 30px auto;
}

.back-button {
    background-color: #ffffff;
    color: black;
    border: 1px solid #cccccc;
    box-shadow: 0 3px 5px #cccccc;
    transition: 0.5s;
    text-align: center;
    text-decoration: none;
    padding: 2px 12px;
    font-size: 1.2rem !important;
    font-weight: bold;
    cursor: pointer;
    margin-right: 15px;
}

.progress {
    flex: 1;
    height: 30px;
    background-color: #f7f7f7;
    border-radius: 25px;
    overflow: hidden;
}

.progress-value {
    height: 100%;
    background-color: #a67cbf;
    border-radius: 25px;
    transition: width 0.3s ease-in-out;
}

/* Diğer stillendirmeler */










@media screen and (max-width: 768px) {
    .progress-bar-container {
        width: 90%;
    }
}